.contact {
  padding: 2rem 6rem;
  margin-top: 5rem;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 2rem;
}

.contactCard {
  padding: 2rem;
  /* background: blue; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  text-decoration: none;
  color: black;
}

.contactCard:hover {
  background: rgb(236, 232, 232);
  transition: 200ms;
  cursor: pointer;
}

.contactCard .logo {
  width: 64px;
  height: 64px;
  position: relative;
}

.contactCard .information {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.contactCard .information .name {
  font-size: large;
}

.contactCard .information .number {
  font-size: small;
  color: grey;
}

@media screen and (max-width: 1024px) {
  .contact {
    padding: 2rem;
  }
}

@media screen and (max-width: 512px) {
  .contactContainer {
    row-gap: 1rem;
  }

  .contactCard {
    padding: 1rem;
    gap: 1rem;
  }

  .contactCard .logo {
    width: 50px;
    height: 50px;
  }

  .contactCard .information .name {
    font-size: medium;
  }
}