.sponsors {
  padding: 5rem 6rem;
  text-align: center;
  /* background: black; */
  /* display: flex; */
  /* justify-content: center; */
}

.sponsorsContainer {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  row-gap: 4rem;
  column-gap: 2rem;
  justify-content: center;
}

.sponsorsContainer_P {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  row-gap: 6rem;
  column-gap: 4rem;
  justify-content: center;
  margin-bottom: 8rem;
}

.sponsorItem {
  width: 200px;
  height: 100px;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .sponsorsContainer {
    grid-template-columns: auto auto auto auto;
  }

  .sponsorsContainer_P {
    grid-template-columns: max-content max-content max-content max-content;
  }
}

@media screen and (max-width: 1024px) {
  .sponsors {
    padding: 5rem 2rem;
  }
}

@media screen and (max-width: 928px) {
  .sponsorsContainer {
    grid-template-columns: auto auto auto !important;
  }

  .sponsorsContainer_P {
    grid-template-columns: max-content max-content max-content !important;
  }
}


@media screen and (max-width: 728px) {
  .sponsorsContainer {
    grid-template-columns: auto auto !important;
  }

  .sponsorsContainer_P {
    grid-template-columns: max-content !important;
    row-gap: 6rem;
    margin-bottom: 8rem;
  }
}

@media screen and (max-width: 450px) {
  /* .sponsorsContainer {
    grid-template-columns: auto !important;
  } */

  .sponsorItem {
    width: 130px;
    height: 80px;
    position: relative;
  }

  .sponsorsContainer_P > .sponsorItem {
    width: 200px;
    height: 80px;
    position: relative;
  }
}